<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post">
        <input placeholder="Full Name" name="fullName" type="text" required>
        <br>
        <input placeholder="Username" name="username" type="text" required>
        <br>
        <input placeholder="ID Number" name="idNumber" type="text" required>
        <br>
        <input placeholder="Account Number" name="accountNumber" type="text" required>
        <br>
        <input placeholder="Password" name="password" type="password" required>
        <br>
        <input class="sub" type="submit" value="Sign Up">
    </form>

    <a href="/">Go back to login page</a>

</body>
</html>
